<!DOCTYPE html>
<html>
  <head>
    <title> Jovians Website </title>
    <style>
      
        
      

      #banner {
        width: 100%;
        height: 360px;
        object-fit: cover;
      }
      #Container{
        max-width : 960px;
        margin: 0 auto ;
        
      }

     

      
    </style>
    <body> 
      <div  id='Container'>
        <h1 align="center"> Jovian Careers </h1> 
        <img src="https://yoga-project-1.srishtigarg5.repl.co/static/banner%20.jpeg" id="banner" >
        <h2 align="center"> About us </h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <h2> Job Openings</h2>
        <p> TODO- Tell abt jobs </p>
        <div style="text-align:center;">
        <button> Contact Us </button>
        </div>
      </div>
    </body>
  </head>
</html>